<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <mat-card class="margin-bottom-10">
          <form (ngSubmit)="onSignup(f)" #f="ngForm">
            <div>
                <mat-form-field >
                  <input 
                    matInput 
                    placeholder="Email" 
                    type="email"
                    name="email"
                    ngModel
                    required
                  >
                </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input 
                  matInput 
                  placeholder="password" 
                  name="password"
                  type="password"
                  ngModel
                  required
                >
              </mat-form-field>
            </div>
                  <button 
                    mat-raised-button 
                    color="primary"
                    type="submit"
                    [disabled] = "!f.valid"
                    >
                    Sign Up
                  </button>
            </form>
      </mat-card>
    </div>
  </div>