<div class="fixed-bg1"></div>
<div class="row">
  <div class="col">
    <mat-card>
      <!-- <mat-card-header>
        <mat-card-title>Time to tell the History</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="..\assets\images\wave.jpg"> -->
      <mat-card-content>
        <div>
          <span style="text-align: center">
            <h1> Engagement</h1>
            <h6 >When you realize your want to spend the rest of your life with a person, you want the rest of your life to start as soon as possible</h6>
          </span>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="clearfix">
                <img class="img2 img-fluid" src="../../assets/images/Rings.jpeg" alt="Timing" width="200" height="200"> When
              </div>
            </div>
            <div class="col-md-6">
              <div class="clearfix">
                <div class="img2 gmap_canvas"><iframe width="200" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=101%20civic%20center%20dr%20ne&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                <!-- <img class="img2 img-fluid" src="../../assets/images/Location1.png" alt="Location" width="170" height="170">  -->
                <span>Where</span> 
              </div>
            </div>
            <br>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="margin-10">
      <mat-card-content>
        <div>
          <span>
            <h2 style="text-align: center"> Wedding</h2>
            <h4>We’re all a little weird. And life is a little weird. And when we find someone whose weirdness is compatible with ours, we join up with them and fall into mutually satisfying weirdness and then the journey starts.</h4>
          </span>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="clearfix">
                <img class="img2 img-fluid" src="../../assets/images/Wedding1.jpg" alt="Timing" width="200" height="200"> When
              </div>
            </div>
            <div class="col-md-6">
              <div class="clearfix">
                <div class="img2 gmap_canvas"><iframe width="200" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=101%20civic%20center%20dr%20ne&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                <!-- <img class="img2 img-fluid" src="../../assets/images/Location2.jpg" alt="Location" width="170" height="170"> Where -->
                <span>Where</span> 
              </div>
            </div>
            <br>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="parallax">
      <div class="fixed-bg2 parallax__layer parallax__layer--back">1123</div>
      <div class="parallax__layer parallax__layer--base">
        <span>
          <h3>Here's a Cute little story of our's </h3>
        </span>
        <div class="row">
          <div class="col">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="../../assets/images/carousel-image2.jpg" class="img-fluid" alt="Random second slide">
                <div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Slide content.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="../../assets/images/carousel-image1.jpg" class="img-fluid" alt="Random third slide">
                <div class="carousel-caption">
                  <h3>Third slide label</h3>
                  <p>Slide content.</p>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-card class="margin-10">
  <mat-card-content>
      <div class="row1">
          <div class="column1 containerZoom">
            <img src="../../assets/images/Attractions.jpg" alt="Snow" style="width:100%">
            <div class="overlayZoom">
                <div ><a href="https://www.google.com/search?q=attractions+in+minneapolis+st+paul&oq=attractions+in+minneapolis&aqs=chrome.1.69i57j0l5.13423j0j7&sourceid=chrome&ie=UTF-8"> <span class="text">Attractions near by </span></a></div>
              </div>
          </div>
          <div class="column1 containerZoom">
            <img src="../../assets/images/Recreational.jpg" alt="Forest" style="width:100%">
            <div class="overlaySlide">
                <div class="text"><a href="https://www.google.com/search?ei=7GcxW7f6GYnh0gL15ZzADQ&q=things+to+do+in+minneapolis+st+paul&oq=thing+in+minneapolis+st+paul&gs_l=psy-ab.3.0.0i7i30k1l10.8814.10144.0.11325.5.5.0.0.0.0.137.265.0j2.2.0....0...1.1.64.psy-ab..3.2.264....0.kx3oQp8XbH4"> <span class="text"> Recreationals near by</span></a></div>
              </div>
          </div>
          <div class="column1 containerZoom">
            <img src="../../assets/images/Places.jpg" alt="Mountains" style="width:100%">
            <div class="overlayFade">
                <div class="text"><a href="https://www.google.com/search?ei=-GcxW66INoza8AOtw77oCg&q=places+to+see+in+minneapolis+st+paul&oq=pla+minneapolis+st+paul&gs_l=psy-ab.3.0.0i7i30k1l10.48559.49644.0.50859.3.3.0.0.0.0.181.307.0j2.2.0....0...1.1.64.psy-ab..1.2.306....0.0NA8kBT08Cg"> <span class="text"> Places to visit</span> </a></div>
              </div>
          </div>
        </div>
  </mat-card-content>
</mat-card>