<div class="row">
  <div class="col-md-11">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input 
              type="text"
              matInput
              placeholder="Item Name"
              name="name"
              ngModel
              required
            >
            <mat-hint align="start"><strong>Keep it as descriptive as possible</strong> </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="full-width">
              <input 
                type="number"
                matInput 
                placeholder="Amount"
                name="amount"
                ngModel
                required
                pattern="^[1-9]+[0-9]*$"
              >
          </mat-form-field>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
            <button 
              mat-raised-button 
              color="accent"
              type="submit"
              [disabled] = "!f.valid"
            >
              <mat-icon>{{ editMode ? 'update':'add_circle'}}</mat-icon> {{ editMode ? 'Update':'Add Item'}}
            </button>
            <button 
              mat-raised-button 
              color="warn"
              type="button"
              (click)="onDelete()"
              *ngIf="editMode"
            >
              <mat-icon>delete</mat-icon> Delete
            </button>
            <button 
              mat-raised-button 
              color="primary"
              type="button"
              (click)="onClear()"
            >
              <mat-icon>clear</mat-icon> Clear
            </button>
        </div>
      </div>
    </form>
  </div>
</div>